{% extends 'base.html.twig' %}
{% block title %}Change Password{% endblock %}


{% block main %}
    <div style="color: white">
        {{ form_label(form.password.first) }}<br>
        {{ form_widget(form.password.first) }}<br>
        {{ form_label(form.password.second) }}<br>
        {{ form_widget(form.password.second) }}<br><br>

        {{ form_widget(form.submit) }}<br>

    </div>




{% endblock %}