{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block head %}
{% endblock %}

{% block main %}
{% if is_granted('ROLE_ADMIN') %}



        <div class="main" style='background:white'>
            <div class="wrap" style='background:white'>




                <div class="col_1_of_3 span_1_of_3" style='background:white; margin: 10 auto'><a href="single.html"></a>
                    <div class="view view-fifth">
                        <div class="top_box">
                            <h3 class="m_1"></h3>
                            <p class="m_2"></p>
                            <div class="grid_img">
                                <div class="css3"><h3>Manage Promotions</h3></div>
                                <hr>
                                <ul>
                                    <li><a href='#'>View All Promotions</a></li>
                                    <li><a href='#'>Add Promotion to Category</a></li>
                                    <li><a href='#'>Add Promotion to All Products</a></li>
                                    <li><a href='#'>Edit Existing Promotion</a></li>
                                    <li><a href='#'>Unset Promotions</a></li>
                                    <li><a href='#'>Delete Promotions</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>


                    <div class="clear"></div>
                </div>


                <div class="col_1_of_3 span_1_of_3" style='background:white; margin: 10 auto'><a href="single.html"></a>
                    <div class="view view-fifth">
                        <div class="top_box">
                            <h3 class="m_1"></h3>
                            <p class="m_2"></p>
                            <div class="grid_img">
                                <div class="css3"><h3>Manage Categories</h3></div>
                                <hr>
                                <ul>
                                    <li><a href='#'>View All Categories</a></li>
                                    <li><a href='#'>Create New Category</a></li>
                                    <li><a href='#'>Edit Existing Category</a></li>
                                    <li><a href='#'>Delete Existing Category</a></li>
                                    <br><br>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>






                <div class="col_1_of_3 span_1_of_3" style='background:white; margin: 10 auto'><a href="single.html"></a>
                    <div class="view view-fifth">
                        <div class="top_box">
                            <h3 class="m_1"></h3>
                            <p class="m_2"></p>
                            <div class="grid_img">
                                <div class="css3"><h3>Manage Products</h3></div>
                                <hr>
                                <ul>
                                    <li><a href='#'>View All Products</a></li>
                                    <li><a href='#'>Add New Product</a></li>
                                    <li><a href='#'>Edit Existing Products</a></li>
                                    <li><a href='#'>Delete Existing Products</a></li>
                                    <br><br>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>







            </div></div></div></div>

    <br>














{% endif %}
{% if is_granted('ROLE_USER') %}


                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style='background:white'>


                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ app.user.name }} ( {{ app.user.username }} )</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">


                                    <div class=" col-md-9 col-lg-9 ">
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>E-mail:</td>
                                                <td>{{ app.user.email }}</td>
                                            </tr>
                                            <tr>
                                                <td>Address:</td>
                                                <td>{{ app.user.address }}</td>
                                            </tr>
                                            <tr>
                                                <td>City:</td>
                                                <td>{{ app.user.city }}</td>
                                            </tr>

                                            <tr>
                                            <tr>
                                                <td>Cash:</td>
                                                <td>{{ app.user.cash }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <a href="{{ path('profile_edit') }}">Edit Profile</a><br>
                                        <a href="{{ path('personal_products') }}">View Personal Products</a>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>





{% endif %}
{% endblock %}
