{{ app.user.username }}
{{ app.user.address }}
{{ app.user.email }}
<br>
<a href="{{ path('profile_edit') }}">Edit Profile </a><br>
<a href="{{ path('personal_products') }}">View Personal Products </a>