{% extends 'base.html.twig' %}
{% block title %}Add Promotion{% endblock %}


{% block main %}
    <div style="color: white">
        {{ form_start(add_form) }}
        {{ form_label(add_form.name) }}<br>
        {{ form_widget(add_form.name) }}<br>
        {{ form_label(add_form.discount) }}<br>
        {{ form_widget(add_form.discount) }}%<br>
        {{ form_label(add_form.startDate) }}<br>
        {{ form_widget(add_form.startDate) }}<br>
        {{ form_label(add_form.endDate) }}<br>
        {{ form_widget(add_form.endDate) }}<br><br><br>

        {{ form_widget(add_form.submit) }}<br>
        {{ form_end(add_form) }}
    </div>




{% endblock %}
