{% extends 'base.html.twig' %}
{% block title %}Add Promotion{% endblock %}


{% block main %}
    <div style="color: white">
        {{ form_start(add_form) }}
        {{ form_label(add_form.promotion) }}<br>
        {{ form_widget(add_form.promotion) }}<br>
        <br><br>

        {{ form_widget(add_form.submit) }}<br>
        {{ form_end(add_form) }}
    </div>




{% endblock %}

