List personal products

<ol>
    {% for product in products %}
        <li>

            <a href="{{ path('product_view', {'id':product.id}) }}"> {{ product.name }}</a>
            <img src="/../{{ asset('images/' ~ product.imageFile) }} " width="10%">
           <a href="{{ path('product_update', {'id':product.id}) }}"> [ Edit ]</a>
            <a href="{{ path('product_delete', {'id':product.id}) }}"> [ Delete ]</a>


        </li>
    {% endfor %}
</ol>