{{ app.user.username }}
{{ app.user.address }}
{{ app.user.email }}
{{ user.cash }}
<br>
<a href="{{ path('profile_edit') }}">Edit Profile </a><br>
<a href="{{ path('personal') }}">View Personal Products </a>