{% extends 'base.html.twig' %}
{% block title %}Categories{% endblock %}


{% block main %}
    {% for message in app.session.flashBag.get('danger') %}
        {{ message }}

    {% endfor %}

    {% for message1 in app.session.flashBag.get('dangercash') %}
        {{ message1 }}

    {% endfor %}
    <h1 style='margin:0; padding:0px'>Shopping Cart</h1>

    <div class="shopping-cart" style='background:white' style='padding:15px'>
        {% if app.user.roles[0] == 'ROLE_USER' %}
        {% if arr != null %}
        <div class="column-labels" style='margin:15px'>
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>


        {% set sum = 0 %}
        {% for key, value in arr %}
        <div class="product">
            <div class="product-image">
                <img src="{{ asset('images/' ~value.imageFile) }}" style='width:100px'>
            </div>
            <div class="product-details">
                <div class="product-title">{{ value.name }}</div>
                <p class="product-description">{{ value.description }}</p>
            </div>
            <div class="product-price">{{ value.price }}</div>
            <div class="product-quantity">{{ value.count }}</div>
            <div class="product-removal">
                <a href="{{ path('remove_item', {'itemProduct':value.id,'itemCart':cart_data.id}) }}">Remove item</a>
            </div>
            {% set sum = sum + value.count*value.price %}
            {% set sumSingle = value.count*value.price %}
            <div class="product-line-price">{{ sumSingle }}</div>
        </div>
        {% endfor %}



        <div class="totals">
            <div class="totals-item">
                <label>Subtotal:   </label>
                <div class="totals-value" id="cart-subtotal">{{ sum }}</div>
            </div>

        </div>

        <a href="{{ path('user_cart_checkout') }}" class="checkout">Checkout</a>
        {% else %}
            Your shopping cart is empty
        {% endif %}
        {% elseif app.user.roles[0] == 'ROLE_ADMIN' %}
        Admins don't have access to shopping cart
        {% endif %}
    </div>





{% endblock %}






