
{% extends 'base.html.twig' %}
{% block title %}Categories{% endblock %}


{% block main %}
    <div style="color: white">
    {% for message in app.session.flashBag.get('danger') %}
        {{ message }}

    {% endfor %}
    </div>
<div style="color: white">

    {% for message1 in app.session.flashBag.get('dangercash') %}
        {{ message1 }}

    {% endfor %}
</div>
    <h1 style='margin:0; padding:0px'>Shopping Cart</h1>

    <div class="shopping-cart" style='background:white' style='padding:15px'>
        {% if app.user.roles[0] == 'ROLE_USER' %}
        {% if arr != null %}



        {% set sum = 0 %}
        {% for key, value in products %}
        <div class="product" style="height: 150px">
            <div class="product-image" style="display: inline-block; width: 100px; ">
                <img src="{{ asset('images/' ~ value.product.imageFile) }}" style='height:150px'>
            </div>

            <div class="product-details" style="display: inline-block; width: 100px;height:150px">
                <div class="product-title" style="display: inline-block; width: 100px; "><strong>Product:</strong></div>
                <div class="product-title" style="display: inline-block; width: 100px; ">{{ value.product.name }}</div>

            </div>
            <div style="display: inline-block;width: 100px;height:150px">
                <div class="product-price" style="display: inline-block; width: 100px; vertical-align: middle; "><strong>Price:</strong></div>
                <div class="product-price" style="display: inline-block; width: 100px; vertical-align: middle; ">{{ value.product.price }} EUR</div>
                </div>
            <div style="display: inline-block;width: 100px;height:150px">                <div class="product-quantity" style="display: inline-block; width: 100px;vertical-align: middle; "><strong>Quantity:</strong></div>
                    <div class="product-quantity" style="display: inline-block; width: 100px;vertical-align: middle; ">1</div>

                </div>

                    <div class="product-removal" style="display: inline-block; width: 100px;vertical-align: bottom; height:150px;">
                <a style="vertical-align: bottom " href="{{ path('remove_item', {'itemProduct':value.product.id,'itemCart':cart_data.id}) }}">Remove item</a>

                    </div>
            {% set sum = sum + value.product.price %}
            {% set sumSingle = value.product.price %}

            </div>

            <hr>
        {% endfor %}



        <div class="totals">
            <div class="totals-item">
                <h1><strong>Subtotal:   </strong></h1>
                <div class="totals-value" id="cart-subtotal"><h1><strong>{{ sum }} EUR</strong></h1></div>
            </div>

        </div>
<br><br>
        <h1><a href="{{ path('user_cart_checkout') }}" class="checkout">Checkout</a></h1><br><br><br><br>
        {% else %}
            Your shopping cart is empty
        {% endif %}
        {% elseif app.user.roles[0] == 'ROLE_ADMIN' %}
        Admins don't have access to shopping cart
        {% endif %}
    </div>





{% endblock %}






