
{% if promotions|length > 0 %}


        {% for index,promo in promotions %}

            <tr>
                <td>{{ promo.id }}</td>
                <td>
                    <a href="{{ path("promotions_view", {"id": promo.id}) }}">
                        {{ promo.name }}
                    </a>
                </td>
                <td>-{{ promo.discount }}%</td>
                <td>{{ promo.startDate|date }}</td>
                <td>{{ promo.endDate|date }}</td>
                <td>{{ promo.productsWithActivePromo|length }}</td>
            </tr>
        {% endfor %}


    </table>



{% else %}
    <p>Sorry, no active promotions at this time.</p>
{% endif %}