{% extends 'base.html.twig' %}
{% block title %}Personal Products{% endblock %}


{% block main %}
<br>
    <div class="main" style='background:black; color: white;'>
                <div class="wrap" style='background:black; color:white'>
    <h1>List all products for user {{ app.user.username }}</h1>
    <br><br>
    <ul>
        {% if products %}
            {% for item in products %}
                           <div class="col_1_of_3 span_1_of_3" style='background:black; margin: 10 auto'><a href="{{ path('product_view', {'id':item.id}) }}">
                                        <div class="view view-fifth">
                                            <div class="top_box">
                                                <h3 class="m_1">{{ item.name }}</h3>

                                                <div class="grid_img">
                                                    <div class="css3" style="height: 150px"><img src="{{ asset('images/' ~ item.imageFile) }}" alt="Product Photo"  style="max-height: 100%; max-width: 100%"/></div>
                                                    <div class="mask">
                                                        <div class="info">Quick View</div>
                                                    </div>
                                                </div>
                                                <div class="price">Price: {{ item.price }} EUR</div>
                                                <div class="price">Available Quantity: {{ item.quantity }}</div>
                                            </div>
                                        </div>
                                        {% if app.user == item.user %}
                                            Personal product: <a href="{{ path('product_update', {'id':item.id}) }}"> [ Edit ]</a>
                                            <a href="{{ path('product_delete', {'id':item.id}) }}"> [ Delete ]</a>

                                        {% endif %}

                                        <div class="clear"></div>
                                    </a></div>

                </ul>
                                </div>
                                </div>




{% endfor %}
                {% else %}
                    No products found for this user
                {% endif %}






{% endblock %}




