<!DOCTYPE html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/megamenu.css') }}" rel="stylesheet" type="text/css" media="all" />

    </head>
    <body style='background:black;width:1100px; margin: 0 auto'>
    <div class="wrapper" style='width:1100px; margin: 0 auto'>





            <div style="height:50px; background-color:black"></div>
            <div class="header-top" >
                <div class="wrap" >
                    <div class="logo">
                        <img src="{{ asset('images/DesignEvo.jpg') }}" alt="logo" style='width:100px'/>
                    </div>
                    <div class="cssmenu">
                        <ul>

                            {% if app.user %}
                                {% if app.user.roles[0] == 'ROLE_USER'  %}
                                    <li  style="vertical-align:center"><a href="{{ path('profile_view') }}">My Profile</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN')  %}
                                    <li  style="vertical-align:center"><a href="{{ path('admin_panel') }}">Admin Panel</a></li>
                                {% endif %}
                                <li  style="vertical-align:center"><a href="{{ path('logout') }}">Log Out</a></li>
                            {% else %}
                                <li class="active"  style="vertical-align:center"><a href="{{ path('register') }}">REGISTER</a></li>
                                <li  style="vertical-align:center"><a href="{{ path('security_login') }}">Log In</a></li>


                            {% endif %}
                        </ul>
                    </div>
                    <ul class="icon2 sub-icon2 profile_img">
                        <li  style='vertical-align:center'><a href="{{ path('view_cart') }}"><img src="{{ asset('images/cart.png') }}" width="45px"></a>

                        </li>

                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="header-bottom">
                <div class="wrap">
                    <ul class="megamenu skyblue" text-align='center' float='center'>
                        <li><a class="color1" href="{{ path('homepage') }}">Home</a></li>
                        <li class="grid"><a class="color2" href="{{ path('category_view') }}">Categories</a></li>
                        <li class="grid"><a class="color2" href="{{ path('promotions_list') }}">Promotions</a></li>
                        <li class="grid"><a class="color2" href="{{ path('products_index') }}">All Products</a></li>
                        {% if app.user %}
                            <li class="grid"><a class="color2" href="{{ path('profile_view') }}" style='float:right'>Welcome, {{ app.user.getUsername }}!</a></li>
                        {% endif %}

                    </ul>
                    <div class="clear"></div>
                </div>
            </div>



        {% block main %}
            {% if app.request.getRequestUri() == '/' %}
            <div><img src='images/sneak.jpg'></div>
            {% endif %}
        {% endblock %}



    </div>
</body>


